#!/usr/bin/env python
"""
Exploration Planner Dynamic Reconfigure Configuration
Author: Thanh Nguyen Canh <thanhnc@jaist.ac.jp>
"""

from dynamic_reconfigure.parameter_generator_catkin import *

PACKAGE = "hesfm"
gen = ParameterGenerator()

# Control
control_group = gen.add_group("Control")
control_group.add("enabled", bool_t, 0, "Enable exploration", True)
control_group.add("auto_navigate", bool_t, 0, "Auto navigate to goals", False)
control_group.add("update_rate", double_t, 0, "Update rate (Hz)", 1.0, 0.1, 10.0)

# Goals
goal_group = gen.add_group("Goals")
goal_group.add("max_goals", int_t, 0, "Maximum goals", 10, 1, 50)
goal_group.add("max_distance", double_t, 0, "Max exploration distance (m)", 10.0, 1.0, 50.0)
goal_group.add("min_goal_separation", double_t, 0, "Min goal separation (m)", 1.0, 0.1, 5.0)

# Information Gain
info_group = gen.add_group("Information")
info_group.add("min_info_gain", double_t, 0, "Min information gain", 0.1, 0.0, 1.0)
info_group.add("weight_geometric", double_t, 0, "Geometric info weight", 1.0, 0.0, 5.0)
info_group.add("weight_semantic", double_t, 0, "Semantic info weight", 1.5, 0.0, 5.0)

# Utility Weights
utility_group = gen.add_group("Utility")
utility_group.add("weight_info_gain", double_t, 0, "Info gain weight", 1.0, 0.0, 5.0)
utility_group.add("weight_distance", double_t, 0, "Distance penalty", 0.3, 0.0, 2.0)
utility_group.add("weight_uncertainty", double_t, 0, "Uncertainty weight", 0.5, 0.0, 2.0)

# Frontiers
frontier_group = gen.add_group("Frontiers")
frontier_group.add("min_frontier_size", int_t, 0, "Min frontier size (cells)", 10, 1, 100)
frontier_group.add("clustering_radius", double_t, 0, "Clustering radius (m)", 0.3, 0.1, 1.0)

# Sensor
sensor_group = gen.add_group("Sensor")
sensor_group.add("sensor_range", double_t, 0, "Sensor range (m)", 6.0, 1.0, 20.0)
sensor_group.add("sensor_fov_horizontal", double_t, 0, "Horizontal FOV (rad)", 1.2, 0.5, 3.14)
sensor_group.add("sensor_fov_vertical", double_t, 0, "Vertical FOV (rad)", 0.9, 0.3, 2.0)

# Safety
safety_group = gen.add_group("Safety")
safety_group.add("min_obstacle_distance", double_t, 0, "Min obstacle distance (m)", 0.5, 0.1, 2.0)

exit(gen.generate(PACKAGE, "hesfm", "Exploration"))
